<mat-toolbar>
  <span>Group</span>
  <span>-</span>
  <span>{{ isEditMode ? ' Update' : ' Create' }}</span>
  <span class="spacer"></span>
  <button mat-icon-button class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="container-group-inf">

  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()" class="grid-form">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name Search</mat-label>
      <input matInput formControlName="nameForSearch">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Admin</mat-label>
      <mat-select [(value)]="selectedAdmin" formControlName="userId">
        <mat-option>None</mat-option>
        @for (user of users; track user) {
          <mat-option [value]="user.id">{{user.firstName}} - {{user.lastName}}</mat-option>
        }
        <input matInput formControlName="userId">
      </mat-select>
    </mat-form-field>

    <button mat-fab *ngIf="isEditMode" extended class="action-button-save-group" type="button" (click)="openAddUsers()">
      Add Users
    </button>
    <button mat-fab extended class="action-button-save-group" type="submit">
      Save
    </button>
  </form>
</div>
