.container-user-notification {
  display: flex;              /* Activar flexbox para los botones */
  flex : 1;
  justify-content: space-between; /* Alinea los elementos a los extremos */
}

.action-button {
  flex: 1;                    /* El botón ocupa 1 parte de 4 (1/4 del espacio) */
  margin: 0 30px 0 0;          /* Espacio entre los botones */
}

.form-field {
  flex: 3;                    /* El campo de formulario ocupa 3 partes de 4 (3/4 del espacio) */
}
