mat-form-field {
  width: 100%; /* Asegúrate de que los campos ocupen todo el ancho */
}

button {
  margin-top: 16px; /* Espacio superior para el botón */
}

.container-user-inf {
  margin: 0px 15px;
  padding: 0; /* Sin padding */
  height: 100%; /* Puede ser el valor que necesites */
  width: 95%; /* Puede ser el valor que necesites */
  background-color: mintcream;
}

.action-button-save-user {
  width: 100%;
  height: 30px;
}
