<mat-dialog-content class="mat-typography">
  <p>VSnet is an innovative platform designed to support strategic decision-making through
advanced analysis and collection of valuable information. Our application empowers users
by providing insights and trends that aid in informed planning and adaptive strategies.
</p>
<p>
  With a focus on privacy, security, and ethical practices, VSnet serves as a tool for
  organizations and individuals seeking to enhance their strategic capabilities without
  compromising on integrity.
</p>
  <p>Version 1.0.0</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
