<mat-dialog-content class="mat-typography">
  <p i18n>1. Who we are</p>
  <p i18n>1.1. We are VSnet 2024, a social network aimed at connecting users through multimedia content, forums, and other interactive features.</p>

  <p i18n>1.2. This Privacy Policy describes how we collect and use your personal information when you use our services, either through the mobile app or web platform, and the choices available to you regarding the use of your personal data. This policy should be read alongside our Terms and Conditions, available on our website. In case of conflicts, this Privacy Policy will prevail.</p>

  <p i18n>2. Information we collect about you</p>
  <p i18n>2.1. When using our services, we may collect the following information:</p>

  <p i18n>Information you provide upon registration: Includes your email, phone number, name, gender, date of birth, and other profile preferences.
    Camera and microphone permissions: If you choose to take and share photos or audio recordings through our platform, we request permissions to access your device's camera and microphone. This is used solely for the purpose of uploading content to your profile or interacting with the social network's multimedia features.
    Use of multimedia files: We access multimedia files stored on your device (photos, videos, etc.) only if you decide to upload or share this content on our platform. These files are processed in accordance with our policy to ensure proper storage and display on the social network.
    Device technical data: We collect technical information such as IP address, device model, operating system, browser type, and browsing data to improve your user experience and personalize the content and ads you see.</p>

  <p i18n>3. Purpose of using your information
    We use the information we collect for the following purposes:</p>

  <p i18n>To efficiently manage and provide our social network services.
    To enable interaction with other users through multimedia (photos, videos, messages).
    To provide updates and news about VSnet and third-party services we believe may interest you.
    To personalize the ads and content displayed on our platform.
    To improve our features and resolve technical issues related to app access and usage.</p>

  <p i18n>4. Sharing your information</p>
  <p i18n>Your information, such as username and profile data, may be visible to other social network users. Additionally, we may share your information with third parties under the following circumstances:</p>

  <p i18n>Personalized advertising and recommendations: Advertisers may use your data anonymously to personalize the ads you see based on general interests such as location, age, or gender.
    Service providers and developers: We may share your information with external service providers to enhance platform functionality, always under a confidentiality agreement.
    Compliance with laws and regulatory obligations: If required, we may disclose your data to legal or tax authorities in the context of an investigation or official request.</p>

  <p i18n>5. Privacy and security</p>
  <p i18n>5.1. Data protection: We take technical and organizational measures to protect your personal information against unauthorized access and misuse.</p>

  <p i18n>5.2. Privacy settings: You can manage the visibility of your information in your account's privacy settings. Please note that any content you post on VSnet may be accessible to other users and, in some cases, publicly shared.</p>

  <p i18n>6. International data transfers</p>
  <p i18n>6.1. Your personal information may be transferred and stored outside your country of residence, on servers located in other countries. We take necessary measures to ensure adequate protection of your personal data in these cases.</p>

  <p i18n>7. Use of cookies and similar technologies</p>
  <p i18n>We use cookies and tracking technologies to enhance your user experience, analyze how you use our services, and provide personalized advertising. You can manage your cookie preferences in the app settings.</p>

  <p i18n>8. Changes to this policy</p>
  <p i18n>We may update this Privacy Policy at any time, and any changes will be posted on our website. The date of the last update is indicated at the beginning of this policy.</p>

  <p i18n>9. Contact</p>
  <p i18n>If you have any questions about this Privacy Policy or the use of your personal data, please contact us through the information provided on our official website.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
