<mat-dialog-content class="mat-typography">
  <p>1. Quiénes somos</p>
  <p>1.1. Somos VSnet 2024, una red social destinada a conectar usuarios mediante contenido multimedia, foros y otras funciones interactivas.</p>

  <p>1.2. Esta Política de Privacidad describe cómo recopilamos y utilizamos tu información personal cuando usas nuestros servicios, ya sea a través de la aplicación móvil o la plataforma web, y las opciones disponibles para ti en relación con el uso de tus datos personales. Esta política debe ser leída junto con nuestros Términos y Condiciones, disponibles en nuestro sitio web. En caso de contradicciones, prevalecerá esta Política de Privacidad.</p>

  <p>2. Información que recopilamos sobre ti</p>
  <p>2.1. Al utilizar nuestros servicios, podemos recopilar la siguiente información:</p>

  <p>Información que proporcionas al registrarte: Incluye tu correo electrónico, número de teléfono, nombre, género, fecha de nacimiento, y otras preferencias de perfil.
Permisos de cámara y micrófono: Si decides tomar y compartir fotos o grabaciones de audio mediante nuestra plataforma, solicitamos permisos para acceder a la cámara y al micrófono de tu dispositivo. Esto se utiliza únicamente para el propósito de cargar contenido en tu perfil o para interactuar en las funciones multimedia de la red social.
Uso de archivos multimedia: Accedemos a los archivos multimedia almacenados en tu dispositivo (fotos, videos, etc.) solo si decides cargar o compartir este contenido en nuestra plataforma. Estos archivos se procesan conforme a nuestra política para garantizar su almacenamiento y visualización adecuados en la red social.
Datos técnicos del dispositivo: Recopilamos información técnica, como la dirección IP, modelo de dispositivo, sistema operativo, tipo de navegador, y datos de navegación para mejorar tu experiencia de usuario y personalizar el contenido y los anuncios que ves.</p>
  <p>3. Propósito del uso de tu información
Utilizamos la información que recopilamos para los siguientes fines:</p>

  <p>Administrar y ofrecer nuestros servicios de red social de manera eficiente.
Permitir la interacción con otros usuarios mediante el uso de multimedia (fotos, videos, mensajes).
Proporcionar actualizaciones y novedades sobre VSnet y servicios de terceros que creemos que podrían interesarte.
Personalizar los anuncios y contenidos que se muestran en nuestra plataforma.
Mejorar nuestras funcionalidades y resolver problemas técnicos relacionados con el acceso y uso de la aplicación.</p>
  <p>4. Compartir tu información</p>
  <p>Tu información, como nombre de usuario y datos de perfil, puede ser visible para otros usuarios de la red social. Además, podemos compartir tu información con terceros en las siguientes circunstancias:</p>

  <p>Publicidad y recomendaciones personalizadas: Los anunciantes pueden utilizar tus datos de forma anónima para personalizar los anuncios que ves, basándose en intereses generales como ubicación, edad o género.
Proveedores de servicios y desarrolladores: Podemos compartir tu información con proveedores de servicios externos para mejorar las funcionalidades de la plataforma, siempre bajo un acuerdo de confidencialidad.
Cumplimiento de la ley y obligaciones regulatorias: Si se requiere, podemos divulgar tus datos a autoridades legales o fiscales en el contexto de una investigación o requerimiento oficial.</p>
  <p>5. Privacidad y seguridad</p>
  <p>5.1. Protección de datos: Tomamos medidas técnicas y organizativas para proteger tu información personal contra el acceso no autorizado y el uso indebido.</p>

  <p>5.2. Configuración de privacidad: Puedes gestionar la visibilidad de tu información en los ajustes de privacidad de tu cuenta. Ten en cuenta que cualquier contenido que publiques en VSnet puede ser accesible para otros usuarios y en algunos casos, se podría compartir públicamente.</p>

  <p>6. Transferencias internacionales de datos</p>
  <p>6.1. Tu información personal puede ser transferida y almacenada fuera de tu país de residencia, en servidores ubicados en otros países. Tomamos las medidas necesarias para garantizar la protección adecuada de tus datos personales en esos casos.</p>

  <p>7. Uso de cookies y tecnologías similares</p>
  <p>Utilizamos cookies y tecnologías de seguimiento para mejorar tu experiencia de usuario, analizar cómo usas nuestros servicios y ofrecer publicidad personalizada. Puedes gestionar tus preferencias de cookies en los ajustes de la aplicación.</p>

  <p>8. Cambios en esta política</p>
  <p>Podemos actualizar esta Política de Privacidad en cualquier momento, y cualquier cambio será publicado en nuestro sitio web. La fecha de la última actualización se indica al principio de esta política.</p>

  <p>9. Contacto</p>
  <p>Si tienes alguna pregunta sobre esta Política de Privacidad o sobre el uso de tus datos personales, por favor contáctanos a través de la información proporcionada en nuestro sitio web oficial.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
