<div class="form-grid">
  <mat-form-field class="dropdown-groups-post">
    <mat-label i18n>Group Selected</mat-label>
    <mat-select [(value)]="selectedGroup">
      <mat-option i18n>None</mat-option>
      @for (group of groups; track group) {
        <mat-option [value]="group">{{ group.name }} - {{ group.color }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="dropdown-groups-post-title">
    <mat-label i18n>Title</mat-label>
    <input matInput type="text" [(ngModel)]="title">
  </mat-form-field>
</div>
