/*.dropdown-groups-post {
  width: 50%;
}

.dropdown-groups-post-title {
  text-align: left;
}*/

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 10px; /* Espacio entre los campos */
}

.dropdown-groups-post,
.dropdown-groups-post-title {
  width: 100%; /* Asegúrate de que los campos ocupen el 100% del contenedor */
}
