<mat-toolbar>
  <span>Configuration</span>
</mat-toolbar>

<div class="container-conf>">
  <mat-grid-list cols="9" rowHeight="2:1">

    <mat-grid-tile colspan="2" rowspan="9" class="tile-content-buttons-conf">
      <div class="button-container-conf">
        <button mat-fab extended class="action-button-conf-opt" (click)="openDialogUser()">
          User
        </button>
        <button mat-fab extended hidden=true class="action-button-conf-opt" (click)="openDialogActor()">
          Actor
        </button>
        <button mat-fab extended hidden=true class="action-button-conf-opt" (click)="openDialogTopic()">
          Topic
        </button>
        <button mat-fab extended class="action-button-conf-opt" (click)="openDialogGroup()">
          Group
        </button>
      </div>
    </mat-grid-tile>

    <!-- USUARIOS -->
    <mat-grid-tile *ngIf="isTileUserVisible" colspan="7" rowspan="8" class="tile-content-data">
      <div class="table-container-conf">
      <table mat-table [dataSource]="dataSourceUsers" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{element.userName}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef>Birthday</th>
          <td mat-cell *matCellDef="let element">{{element.birthday}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let element">{{element.gender}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{element.role}}</td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let user">
            <button mat-button (click)="editUser(user)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
      </table>
      </div>
    </mat-grid-tile>
      <mat-grid-tile *ngIf="isTileUserVisible" colspan="7" rowspan="1">
        <button mat-fab extended class="action-button-create-user" (click)="openCreateUser()">
          Create User
        </button>
    </mat-grid-tile>

    <!-- GRUPOS -->
    <mat-grid-tile *ngIf="isTileGroupVisible" colspan="7" rowspan="8" class="tile-content-data">
      <div class="table-container-conf">
        <table mat-table [dataSource]="dataSourceGroups" class="mat-elevation-z8 demo-table">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nameGroup">
            <th mat-header-cell *matHeaderCellDef>nameGroup</th>
            <td mat-cell *matCellDef="let element">{{element.nameGroup}}</td>
          </ng-container>

          <!-- Columna Acciones -->
          <ng-container matColumnDef="actionsGroup">
            <th mat-header-cell *matHeaderCellDef>actionsGroup</th>
            <td mat-cell *matCellDef="let user">
              <button mat-button (click)="editUser(user)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button (click)="deleteUser(user)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsGroups"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsGroups;"></tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="isTileGroupVisible" colspan="7" rowspan="1">
      <button mat-fab extended class="action-button-create-user" (click)="openCreateUser()">
        Create User
      </button>
    </mat-grid-tile>

  </mat-grid-list>
</div>
