<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Leave a comment</mat-label>
  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  <mat-icon matSuffix>mode_edit</mat-icon>
</mat-form-field>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Cargar Imagen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
        <mat-label>Seleccionar Imagen</mat-label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
    </form>
    <div *ngIf="imageUrl" class="adjustable-div">
      <img mat-card-image [src]="imageUrl" alt="Imagen cargada" />
    </div>
  </mat-card-content>
</mat-card>
