  <mat-grid-list cols="5">
    @for (post of posts; track post) {
      <mat-grid-tile colspan="5" rowspan="4">
        <mat-card appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ post.postedBy?.userName }} - {{ post.postedBy?.firstName }} {{ post.postedBy?.lastName }} </mat-card-title>
            <mat-card-subtitle>Group : {{ post.belongsTo?.name }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <img mat-card-image *ngIf="post.mediafiles && post.mediafiles.length > 0" [src]="post.mediafiles[0].path" alt="Photo of a Shiba Inu">
            <p>Topic : {{ post.topic?.name }}</p>
            <p>Comment : {{ post.info }}</p>
          </mat-card-content>
          <mat-card-actions >
            <button mat-button >LIKE</button>
            <button mat-button >COMMENT</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>

