mat-card {
  width: 95%;                /* Asegurarse de que la tarjeta ocupe todo el ancho */
  height: 100%;               /* Asegurarse de que la tarjeta ocupe toda la altura */
}

img {
  width: 100%; /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
  height: auto; /* Mantiene la relación de aspecto original de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

.mat-grid-tile-content{
  align-items: flex-start;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.action-buttons {
  display: flex;               /* Activar Flexbox */
  justify-content: space-between; /* Distribuir espacio entre los botones */
  width: 100%;                /* Asegurarse de que el contenedor ocupe todo el ancho */
  background-color: floralwhite
}
