<mat-toolbar>
  <span>Notification System</span>
</mat-toolbar>
<div class="container">
<mat-grid-list cols="10" rowHeight="100px" class="full-grid">

  <mat-grid-tile colspan="3" rowspan="1" style="background-color: lightblue;">
    <app-post-search></app-post-search>
  </mat-grid-tile>

  <mat-grid-tile colspan="5" rowspan="1" style="background-color: lightblue;">
    <app-post-options></app-post-options>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="1" style="background-color: lightblue;">
    <app-user-notification></app-user-notification>
  </mat-grid-tile>
<!--fila 2-->
  <mat-grid-tile colspan="3" rowspan="5" style="background-color: lightblue;">
    <div class="tile-content">
    <app-tree-groups></app-tree-groups>
    </div>
  </mat-grid-tile>

</mat-grid-list>
</div>
