.container {
  margin: 0; /* Sin márgenes */
  padding: 0; /* Sin padding */
  height: 100%; /* Puede ser el valor que necesites */
  width: 100%; /* Puede ser el valor que necesites */
}

.full-grid {
  width: auto; /* Ocupa el 100% del ancho */
  height: auto; /* Ajusta según tus necesidades */
}

.tile-content {
  display: flex;             /* Activar Flexbox */
  flex-direction: column;    /* Alinear elementos en columna */
  align-items: flex-start;   /* Alinear todos los elementos al inicio (izquierda) */
  justify-content: flex-start; /* Alinear al inicio (parte superior) */
  height: 100%;              /* Asegurarse de que el contenedor ocupe toda la altura */
  padding: 8px;             /* Espaciado interno opcional */
}
