<mat-dialog-content class="mat-typography">
<p i18n>Permiso de Micrófono, Camara y Subir Archivos</p>

<p i18n>
Para permitir que la aplicación acceda al Micrófono, la Camara y la subida de Archivos Multimedia sigue estos pasos:
</p>
<ol>
  <li i18n>Abre la aplicación <strong>Configuración</strong> en tu dispositivo Android.</li>
  <li i18n>Dirígete a <strong>Aplicaciones</strong> o <strong>Gestión de aplicaciones</strong>.</li>
  <li i18n>Busca y selecciona <strong>VSnet</strong>.</li>
  <li i18n>Toca <strong>Permisos</strong>.</li>
  <li i18n>Habilita el <strong>Micrófono, la Camara y la subida de Archivos</strong>.</li>
</ol>
<p i18n>
  Si necesitas más ayuda, contacta con nuestro soporte técnico.
</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
