<mat-dialog-content class="mat-typography">
<p>Permiso de Micrófono, Camara y Subir Archivos</p>

<p>
Para permitir que la aplicación acceda al Micrófono, la Camara y la subida de Archivos Multimedia sigue estos pasos:
</p>
<ol>
  <li>Abre la aplicación <strong>Configuración</strong> en tu dispositivo Android.</li>
  <li>Dirígete a <strong>Aplicaciones</strong> o <strong>Gestión de aplicaciones</strong>.</li>
  <li>Busca y selecciona <strong>VSnet</strong>.</li>
  <li>Toca <strong>Permisos</strong>.</li>
  <li>Habilita el <strong>Micrófono, la Camara y la subida de Archivos</strong>.</li>
</ol>
<p>
  Si necesitas más ayuda, contacta con nuestro soporte técnico.
</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
