<mat-dialog-content class="mat-typography">
  <p i18n>Microphone, Camera, and File Upload Permission</p>

  <p i18n>
    To allow the app to access the Microphone, Camera, and Multimedia File Upload, follow these steps:
  </p>
  <ol>
    <li i18n>Open the <strong>Settings</strong> app on your Android device.</li>
    <li i18n>Go to <strong>Apps</strong> or <strong>App Management</strong>.</li>
    <li i18n>Search for and select <strong>VSnet</strong>.</li>
    <li i18n>Tap <strong>Permissions</strong>.</li>
    <li i18n>Enable <strong>Microphone, Camera, and File Upload</strong>.</li>
  </ol>
  <p i18n>
    If you need further assistance, contact our technical support.
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
