<mat-form-field appearance="fill" class="example-full-width">
  <mat-label i18n>Leave a comment</mat-label>
  <textarea matInput placeholder="Ex. It is..." i18n-placeholder [(ngModel)]="info"></textarea>
  <mat-icon matSuffix>mode_edit</mat-icon>
</mat-form-field>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title i18n>Load Image</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-label i18n>Select Image</mat-label>
    <input
      type="file"
      (change)="onFileSelected($event)"
      accept="image/*,video/*,audio/*"
      multiple
    />
    <button (click)="uploadFiles()" i18n>Upload Files</button>

    <div *ngIf="selectedFiles.length > 0">
      <h4 i18n>Files Selected:</h4>
      <ul>
        <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
